:root {
  --width-nav: max(15vw, 220px);
  --space-m: 2rem;
  --space-s: calc(var(--space-m) / 2);
  --space-xs: calc(var(--space-m) / 3);

  --font-l: 1.4rem;
  --font-m: 1rem;
  --font-s: 0.8rem;

  --rounded: 0.8rem;

  --color-primary: oklch(84% 0.075 64);
  --color-secondary: oklch(84% 0.075 164);
  --color-tertiary: oklch(100% 0.075 64);

  --color-text: oklch(100% 0 0);
  --color-text-secondary: oklch(77% 0 0);
  --color-text-inverse: oklch(0% 0 0);

  --color-background-section: oklch(27% 0 230);
  --color-background: oklch(20% 0 230);
}

html,
body {
  font-family:
    Arial,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu;
  font-variant-numeric: tabular-nums;
}

body {
  background-color: var(--color-background);
}

* {
  margin: 0;
  padding: 0;
}
